// General color values

@shadows: rgba(0,0,0,0.5);
@button: rgba(16,170,10,0.8);
@button_h: rgba(16,210,10,1);

// Misc rules

body {
    font-family: 'Roboto';
    margin: 0;
    background: #777;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: @button;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        color: @button_h;
    }
}

main::-webkit-scrollbar {
    width: 6px;
}

main::-webkit-scrollbar-track {
    background: @button_h;
    border: 2px solid @button;
    border-radius: 4px;
    margin: 2px;
    box-shadow: 0 0 10px rgba(10,10,10,0.3);
    padding: 1px;
}

main::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.9);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

// Menu keyframes

@keyframes mbt {
    0% {
        border-left: 15px solid @button_h;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 0px solid transparent;
    }
    40% {
        border-left: 0px solid @button_h;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 0px solid transparent;
    }
    60% {
        border-left: 0px solid transparent;
        border-top: 25px solid @button_h;
        border-bottom: 25px solid @button_h;
        border-right: 0px solid transparent;
    }
    100% {
        border-left: 0px solid transparent;
        border-top: 25px solid @button_h;
        border-bottom: 25px solid @button_h;
        border-right: 15px solid transparent;
    }
}

// Menu btn styles

nav {
    color: #fff;
    background: rgba(255,255,255,0.9);
    height: 50px;
    box-shadow: 0 0 9px @shadows, inset 0 -5px 10px rgba(0,0,0,0.1), inset 0 5px 10px rgba(255,255,255,0.2);
    overflow: hidden;
    display: block;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    &.tg {
        left: 250px;
    }
}

#nav_c {
    position: absolute;
    left: -250px;
    top: 0;
    height: 100vh;
    width: 250px;
    background: #ddd;
    color: #444;
    box-sizing: border-box;
    border-right: solid 1px #aaa;
    z-index: 5;
    transition: 0.5s;
    &.tg {
        left: 0;
    }
    &::before {
        height: 50px;
        width: 250px;
        display: block;
        content: '';
        background: @button_h;
    }
    a {
        background: #eee;
        display: block;
        height: 50px;
        width: 100%;
        border-bottom: solid 1px #aaa;
        box-sizing: border-box;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 26px;
        padding: 0 15px;
        font-weight: 300;
        color: #777;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background: @button_h;
            color: #fff;
        }
    }
}

#nav_b {
    background: transparent;
    height: 50px;
    width: 58px;
    transition: 0.3s ease-in-out;
    transition-delay: 0.2s;
    background: @button;
    div {
        font-family: 'Lato';
        font-size: 40px;
        font-weight: 300;
        float: right;
        margin-top: -100px;
        margin-right: 20px;
        pointer-events: none;
        transition: 0.2s;
    }
    &:hover, &.tg {
        background: @button_h;
        width: 150px;
        transition-delay: 0.2s;
        &::before {
            border-left: solid 15px @button_h;
            margin-left: 150px;
            transition-delay: 0.2s;
        }
        div {
            margin-top: -47px;
            transition-delay: 0.4s;
        }
        span {
            margin-top: -90px;
        }
        span, span::before, span::after {
            transition-delay: 0s;
        }
    }
    &.tg::before {
            border-left: 0px solid transparent;
            border-top: 25px solid @button_h;
            border-bottom: 25px solid @button_h;
            border-right: 15px solid transparent;
            animation: mbt 0.4s forwards;
            transition: 0.4s;
    }
    &::before {
        transition: 0.3s ease-in-out;
        width: 0;
        height: 0;
        margin-left: 58px;
        border-left: solid 15px @button;
        border-bottom: solid 25px transparent;
        border-top: solid 25px transparent;
        content: '';
        display: block;
        transition-delay: 0.2s;
    }
    span {
        height: 0px;
        opacity: 0.9;
        width: 36px;
        border: solid 2px #fff;
        border-radius: 2px;
        display: block;
        box-sizing: border-box;
        margin-top: -27px;
        font-size: 0;
        margin-left: 9px;
        transition: 0.4s;
        transition-delay: 0.4s;
        &::before, &::after {
            content: '';
            transition: 0.2s;
            margin-top: 10px;
            margin-left: -2px;
            height: 0px;
            width: 36px;
            border: solid 2px #fff;
            border-radius: 2px;
            display: block;
            box-sizing: border-box;
        }
        &::after {
            margin-top: -28px;
        }
    }
}

// Content keyframes



// Content styles

main {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
    &.tg {
        left: 250px;
    }
    #content {
        min-height: 95vh;
        overflow: hidden;
        font-weight: 300;
        background: #eee;
        box-sizing: border-box;
        padding: 70px 40px;
        color: #444;
        width: 800px;
        margin: 80px auto;
        position: relative;
        box-shadow: 5px 5px 12px @shadows, inset 0 0 2px @shadows, inset -10px -30px 120px rgba(0,0,0,0.12);
        & *::selection {
            background: @button_h;
            color: #fff;
        }
        &::before, &::after {
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: #777;
            content: '';
            display: block;
            top: 40px;
            box-shadow: inset 4px 4px 10px @shadows, 0 0 2px @shadows;
        }
        &::before {
            left: 30%;
        }
        &::after {
            right: 30%;
        }
    }
    h1, h2, h3 {
        font-family: 'Lato';
        font-weight: 300;
        color: #333;
        width: 100%;
        padding: 10px 0;
        border-bottom: dotted 2px #aaa;
        text-shadow: 0 0 5px rgba(0,0,0,0.05);
    }

    h1 { font-size: 40px; }
    h2 { font-size: 37px; }
    h3 { font-size: 34px; }
    p { line-height: 1.3em; text-shadow: 0 0 3px rgba(0,0,0,0.05); }
    footer {
        height: 30px;
        width: 100vw;
        background: @shadows;
        box-shadow: 0 0 10px @shadows;
        div {
            font-family: 'Lato';
            font-weight: 400;
            padding: 0 20px;
            line-height: 30px;
            text-shadow: 1px 1px 2px @shadows;
            color: white;
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
                a {
                    color: @button_h;
                    &:hover {
                        color: lighten(@button_h, 15%);
                    }
                }
            }
        }
    }
}